__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
.vscode/

results/*
!results/README.md
!results/transmission/
!results/current/

data/raw/*
!data/raw/README.md

*.dat
*.png
*.pdf
*.csv

!CITATION.cff
!README.md
